.pokemon-detail {
  height: 100vh;
  .popup-confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    z-index: 99999;
    &__container {
      background-color: #fff;
      box-shadow: 1px 1px 3px 0 #000;
      width: 350px;
      border-radius: 3px;
      padding: 10px;
      .title {
        font-size: 16px;
        color: #2196f3;
        margin-bottom: 10px;
      }
      input {
        font-size: 20px;
        border: none;
        border-bottom: solid 1px #dfdfdf;
        &:focus {
          outline: none;
          border-bottom-color: #000
        }
      }
      .btn-group {
        text-align: right;
        margin-top: 10px;
        .btn {
          margin-left: 8px;
          width: 50px;
          height: 25px;
          border: solid 1px#2196f3;
          border-radius: 4px;
        }
      }
    }
  }
  .btn-back {
    position: fixed;
    top: 5px;
    left: 5px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-size: 30px;
    padding: 14px;
    font-weight: 900;
    color: #fff;
    text-transform: capitalize;
    height: 34px;
  }
  .container {
    padding: 10px;
    display: flex;
    .card-img {
      text-align: center;
      border-radius: 10px;
      box-shadow: 1px 1px 4px 1px #5a5a5a;
      margin-bottom: 10px;
      width: 350px;
      height: 350px;
      background-color: #fff;;
      margin-right: 20px;
      .catch-btn {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        transition: transform 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
      .pokemon-img {
        width: 350px;
        height: 350px;
        filter: drop-shadow(0 0 10px);
      }
    }
    .info {
      background-color: #fff;
      max-height: calc(100vh - 122px);
      width: 100%;
      padding: 20px;
      // border-radius: 10px;
      overflow-y: auto;
      box-shadow: 1px 1px 3px #000;
      .title {
        font-size: 30px;
        font-weight: 900;
        color: #5a5a5a;
        margin-bottom: 10px;
      }
      .type {
        border-bottom: dashed 1px #5a5a5a;
        padding-bottom: 5px;
        margin-bottom: 5px;
        .type-item {
          padding: 3px 8px;
          display: inline-block;
          border-radius: 12px;
          margin-top: 3px;
          margin-right: 5px;
          cursor: pointer;
        }
      }
      .abilitie {
        border-bottom: dashed 1px #5a5a5a;
        padding-bottom: 5px;
        margin-bottom: 5px;
        .abilitie-item {
          font-size: 20px;
          font-weight: 600;
          color: red;
        }
      }
      .move {
        border-bottom: dashed 1px #5a5a5a;
        padding-bottom: 5px;
        margin-bottom: 5px;
        .move-item {
          display: inline-block;
          padding: 3px 8px;
          border: solid 1px #0000007d;
          border-radius: 14px;
          margin-right: 5px;
          margin-bottom: 5px;
          cursor: pointer;
        }
      }
      &__group-bmi {
        border-bottom: dashed 1px #5a5a5a;
        padding-bottom: 5px;
        margin-bottom: 5px;
        .bmi {
          font-size: 18px;
          font-weight: 900;
          .title-bmi {
            color: #5a5a5a;
          }
        }
      }
      &__group-stats {
        .stats {
          margin-bottom: 5px;
          .title-stats {
            margin-bottom: 3px;
            font-weight: 600;
          }
          .stat-bar {
            height: 15px;
            width: 100px;
            border-radius: 8px;
            &.hp {
              background-color: #00ff0e;
            }
            &.attack {
              background-color: #ff0000;
            }
            &.defense {
              background-color: #ff9400;
            }
            &.s-attack {
              background-color: #0088f5;
            }
            &.s-defense {
              background-color: #673ab7;
            }
            &.speed {
              background-color: #cddc39;
            }
          }
        }
      }
    }
  }
}
.notification {
  position: fixed;
  left: 5px;
  bottom: 5px;
  padding: 15px 30px 15px 15px;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 0 #000;
  background-color: #f00;
  color: #fff;
  animation: up 2s;
  z-index: 9999;
  opacity: 0;
}
@keyframes up {
  0% {
    bottom: -48px;
    opacity: 1;
  }
  80% {
    bottom: 5px;
    opacity: 1;
  }
  100% {
    bottom: 5px;
    opacity: 0;
  }
}
