.my-bag {
  .bag-btn {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
    cursor: pointer;
    img {
      height: 40px;
    }
    .pokemon-count {
      width: 25px;
      height: 25px;
      font-size: 20;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      color: #fff;
      border-radius: 50%;
      position: absolute;
      bottom: -5px;
      left: -5px;
    }
  }
  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    .popup-container {
      position: relative;
      width: 1300px;
      height: 600px;
      background-color: #dfdfdf;
      border-radius: 10px;
      box-shadow: 1px 1px 3px 0px #000;
      .close-btn {
        position: absolute;
        top: -15px;
        right: -15px;
        border-color: #fff;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 10000;
      }
      .no-pokemon {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
      }
      .list-my-pokemon {
        overflow-y: auto;
        padding: 10px;
        height: 580px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100px;
        gap: 10px;
        .my-pokemon {
          padding: 5px;
          border: solid 1px #fff;
          border-radius: 10px;
          box-shadow: 1px 1px 3px 0 #000;
          position: relative;
          background-size: 150px 150px;
          background-repeat: no-repeat;
          background-position: right -26px;
          .release-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f00;
            color: #fff;
            border: none;
            border-radius: 50%;
            font-weight: 900;
            height: 20px;
            width: 20px;
            position: absolute;
            right: 5px;
            cursor: pointer;
            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }
          .name-pokemon {
            height: 27px;
            .nick {
              text-transform: capitalize;
              width: 180px;
              padding: 3px 4px;
              font-size: 18px;
              font-weight: 600;
              white-space: nowrap;
            }
            input {
              width: 510px;
              border: none;
              border-bottom: solid 1px #dfdfdf;
              font-size: 18px;
              background-color: transparent;
              &:focus {
                outline: none;
                border-bottom-color: #000;
              }
            }
          }
          &__group-btn {
            display: flex;
            margin-top: 30px;
            .btn {
              margin-left: 15px;
              border: none;
              background: #fff;
              color: #000;
              box-shadow: 0px -3px 0 0 #fff, 3px 0px 0 0 #fff, 0px 3px 0 0 #fff, -3px 0px 0 0 #fff;
              &:disabled {
                opacity: 0.5;
                cursor: not-allowed;
              }
            }
          }
        }
      }
    }
  }

  .popup-confirm {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0009;
    z-index: 99999;
    &__container {
      background-color: #fff;
      box-shadow: 1px 1px 3px 0 #000;
      width: 350px;
      border-radius: 3px;
      padding: 10px;
      .text {
        display: flex;
        font-size: 20px;
        color: #2196f3;
        .icon-custom {
          background-color: #ff8800;
          width: 23px;
          height: 23px;
          border-radius: 50%;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
        }
      }
      .btn-group {
        text-align: right;
        margin-top: 10px;
        .btn {
          margin-left: 8px;
          width: 50px;
          height: 25px;
          border: solid 1px#2196f3;
          border-radius: 4px;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .popup {
      .popup-container {
        max-width: 90%;
        .list-my-pokemon {
          grid-template-columns: 1fr;
          .my-pokemon {
            .name-pokemon {
              .nick {
                font-size: 10px;
              }
              input {
                width: inherit;
              }
            }
          }
        }
        .no-pokemon {
          font-size: 20px;
        }
      }
    }
  }
  @keyframes shrugs {
    0% {
      transform: scale(1);  
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1);  
    }
  }
}