.card {
  height: 360px;
  width: 250px;
  margin: 5px;
  padding: 10px;
  border: solid 5px #000;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    filter: grayscale(0);
  }
  .card-header {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
    color: #fff;
    display: flex;
    justify-content: space-between;
    .id-number {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        left: 100px;
        height: 0;
        width: 130px;
        border-bottom: solid 32px #00000059;
        border-left: solid 20px transparent;
        z-index: 9;
      }
    }
    .type {
      width: 150px;
      z-index: 10;
      .text {
        text-align: center;
      }
    }
  }
  .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 1px #5a5a5a;
    margin-bottom: 10px;
    background-color: #fff;
    img {
      width: 230px;
      filter: drop-shadow(0 0 10px);
    }
  }
  .name {
    font-size: 25px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
  }
}
@media only screen and (max-width: 600px) {
  .card {
    margin: auto;
    margin-bottom: 10px;
  }
}
.type-normal {
  background-color: #a4acaf;
}
.type-fighting {
  background-color: #d56723;
}
.type-flying {
  background-color: #00eefd;
}
.type-poison {
  background-color: #a040a0;
}
.type-ground {
  background-color: #e0c068;
}
.type-rock {
  background-color: #a38c21;
}
.type-bug {
  background-color: #729f3f;
}
.type-ghost {
  background-color: #7b62a3;
}
.type-steel {
  background-color: #9eb7b8;
}
.type-fire {
  background-color: #f08030;
}
.type-water {
  background-color: #3f51b5;
}
.type-grass {
  background-color: #9bcc50;
}
.type-electric {
  background-color: #f8d030;
}
.type-psychic {
  background-color: #f366b9;
}
.type-ice {
  background-color: #4592c4;
}
.type-dragon {
  background-color: #177258;
}
.type-dark {
  background-color: #707070;
}
.type-fairy {
  background-color: #fdb9e9;
}
.type-unknown {
  background-color: #fff;
}
.type-shadow {
  background-color: #646464;
}